@charset "UTF-8";

table {
    margin-left:auto; 
    margin-right:auto;
}

.contentContainer {
    margin: auto;
    width: 60%;
    padding: 10px;
}

td {
    border-collapse: collapse;
    border: 3px solid antiquewhite;
    padding: 10px;
}

th {
	text-align: center;
}

.itemList tr:hover {
    background-color: dodgerblue;
    opacity: 0.5;
}