<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HeroMars - Hero action page</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
	
<script type="text/javascript">
		function gatherWater() {					
			var messageToShow = JSON.parse('${message}');
	        alert(messageToShow);		
		}
	
</script> 
		
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<link rel="stylesheet" type="text/css" href="../css/hero_actions.css" />

</head>
<body>

	<div class="menuLine">
	
		<div class="mainMenu">

			<ul class="nav nav-tabs justify-content-center">
				<li class="nav-item">
		        	<a class="nav-link" th:href="@{/index}">Főoldal</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" th:href="@{/register}" th:unless="${sessionData.currentUserName != null}" >Regisztráció</a>
		      	</li>
		      	<li class="nav-item">
					<a class="nav-link" th:href="@{/login}" th:unless="${sessionData.currentUserName != null}" >Bejelentkezés</a>
		      	</li>
		      	<li class="nav-item">
					<a class="nav-link" th:href="@{/profile}">Profil</a>
				</li>
		      	<li class="nav-item">
		        	<a class="nav-link active" th:href="@{/hero}">Hős</a>
		      	</li>
		    </ul>
		    
		    <div class="secondaryMenu">
				<a class="nav-link" th:href="@{/hero}" >Hős statisztika</a>
				<a class="nav-link active" th:href="@{/hero_actions}" >Hős akciók</a>
				<a class="nav-link" th:href="@{/market}">Marketplace</a>
			</div>
			
		 </div>
    
 	</div>
 	
 	<div class="logout">
		<a class="nav-link" th:href="@{/logout}" >Kijelentkezés</a>
	</div>
	
	<br/>
	<br/>
	
	<h1 align="center" th:text="'Kalandra fel, kedves ' + ${sessionData.currentHeroName} + '!'"></h1>

	<br/>
	<br/>
	
	<h3 align="center">Lehetséges lépéseid:</h3>
	<form action="#" th:action="@{/hero_actions}"method="GET">
		
	<div class="actionsMenu" align="center">
		<table align="center">
			<tr>
		    	<th colspan="3">Akció leírása</th>
		    	<th colspan="1">Akció</th>
		  	</tr>
		  	<tr>
		  		<td colspan="3">A víz nélkülözhetetlen a túléléshez. A Marson korlátoltak a lehetőségek a vízszerzésre.
					A vízszerzés sikerét, a megszerzett víz mennyiségét a Kútfúró képesség szintje és a Bölcsesség szintje egyaránt
					befolyásolja.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/gathering_water} + '\''" 
					value="Vizért megyek"/>
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">Enni kell ha életben akarsz maradni. A vadászat sikerét és a megszerzett étel mennyiségét a 
		  		Vadászó képesség szintje és a Bölcsesség szintje egyaránt befolyásolja.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/gathering_food} + '\''" 
					value="Vadászni megyek" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">Pénzre lesz szükséged, ha majd eszközöket szeretnél vásárolni. A Marson kincsvadászatra 
		  		mehetsz, hogy további pénzre tegyél szert. A megszerzett pénz mennyiségét befolyásolja a bölcsességed mértéke<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/hunting_treasure} + '\''" 
					value="Kincsre vadászok" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">A Kútfúró képességed fejleszteni tudod. Három szint van, Inas, Mester, Mágus. Minél magasabb
		  		szintre jutsz, annál több vizet szerezhetsz. A megszerzett képességek további jellemzőidet befolyásolják.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/learning_welldrilling_skill} + '\''" 
					value="Kútfúró képességet fejlesztek" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">A Vadászó képességed fejleszteni tudod. Három szint van, Inas, Mester, Mágus. Minél magasabb
		  		szintre jutsz, annál több élelmet szerezhetsz. A megszerzett képességek további jellemzőidet befolyásolják.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/learning_hunting_skill} + '\''" 
					value="Vadászó képességet fejlesztek" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">A Csillagvizsgló képességed fejleszteni tudod. Három szint van, Inas, Mester, Mágus. Minél magasabb
		  		szintre jutsz, annál több bölcsességre teszel  szert.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/learning_astronomer_skill} + '\''" 
					value="Csillagvizsgáló képességet fejlesztek" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">A Kincsvadász képességed fejleszteni tudod. Három szint van, Inas, Mester, Mágus. Minél magasabb
		  		szintre jutsz, annál több pénzt szerezhetsz a kincsvadászaton.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/learning_treasure_hunter_skill} + '\''" 
					value="Kincsvadász képességet fejlesztek" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="3">Küldetésre mehetsz, hogy új eszközökre tegyél szert. A küldetésed sikerét a Kincsvadászó képességed
		  		és a bölcsességed egyaránt befolyásolja.<br/></td>
				<td colspan="1">
					<input type="button" class="actionbutton" th:onclick="'window.location.href = \'' + @{/go_to_an_adventure} + '\''" 
					value="Küldetésre megyek" />
				</td>
		  	</tr>

		</table>
	</div>
		
	</form>
	
</body>
</html>