<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HeroMars - Hero action page</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
	
<script type="text/javascript">
		function gatherWater() {					
			var messageToShow = JSON.parse('${message}');
	        alert(messageToShow);		
		}
	
</script> 
		
<link rel="stylesheet" type="text/css" href="../css/index.css" />

</head>
<body>

	<div class="menuLine">
	
		<div class="mainMenu">

			<ul class="nav nav-tabs justify-content-center">
				<li class="nav-item">
		        	<a class="nav-link" th:href="@{/index}">Főoldal</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" th:href="@{/register}" th:unless="${sessionData.currentUserName != null}" >Regisztráció</a>
		      	</li>
		      	<li class="nav-item">
					<a class="nav-link" th:href="@{/login}" th:unless="${sessionData.currentUserName != null}" >Bejelentkezés</a>
		      	</li>
		      	<li class="nav-item">
					<a class="nav-link" th:href="@{/profile}">Profil</a>
				</li>
		      	<li class="nav-item">
		        	<a class="nav-link active" th:href="@{/hero}">Hős</a>
		      	</li>
		    </ul>
		    
		    <div class="secondaryMenu">
				<a class="nav-link" th:href="@{/hero}" >Hős statisztika</a>
				<a class="nav-link active" th:href="@{/hero_actions}" >Hős akciók</a>
				<a class="nav-link" th:href="@{/market}">Marketplace</a>
			</div>
			
		 </div>
    
 	</div>
 	
 	<div class="logout">
		<a class="nav-link" th:href="@{/logout}" >Kijelentkezés</a>
	</div>
	
	<h1 align="center">Hősöd lehetséges lépései</h1>
	<form action="#" th:action="@{/hero_actions}"method="GET">
		
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/gathering_water} + '\''" value="Vizért megyek"/>
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/gathering_food} + '\''" value="Vadászni megyek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/hunting_treasure} + '\''" value="Kincsre vadászok" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/learning_welldrilling_skill} + '\''" 
		value="Kútfúró képességet fejlesztek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/learning_hunting_skill} + '\''" 
		value="Vadászó képességet fejlesztek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/learning_astronomer_skill} + '\''" 
		value="Csillagvizsgáló képességet fejlesztek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/learning_treasure_hunter_skill} + '\''" 
		value="Kincsvadász képességet fejlesztek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/visiting_blacksmith} + '\''" value="Kovácshoz megyek" />
		<br />
		<input type="button" th:onclick="'window.location.href = \'' + @{/going_to_mission} + '\''" value="Küldetésre megyek" />
		
	</form>
	
</body>
</html>