<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HeroMars - Create a new hero</title>

<link rel="stylesheet" type="text/css" href="../css/index.css" />

</head>

<body>

	<div class="menuLine">
		<div class="mainMenu">

			<div class = "top-bar-data"></div>

	        <a th:href="@{/main}">
	        	<div class = "top-bar-data">Főoldal</div>
	        </a>

			<a th:href="@{/profile}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-data">Profil</div>
			</a>
			
	        <a th:href="@{/hero}" th:unless="${sessionData == null || sessionData.currentUserName == null || sessionData.currentHeroName == null}">
	        	<div class = "top-bar-data">Hős</div>
	        </a>
	        	        
	        <a th:href="@{/login}" th:unless="${sessionData == null || sessionData.currentUserName != null}" >
				<div class = "top-bar-log top-bar-data">Bejelentkezés</div>
			</a>
			
			<a th:href="@{/logout}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-log top-bar-data">Kijelentkezés</div>
			</a>
			
			<div class = "top-bar-data top-bar-log"></div>
			
	    </div>
 	</div>
 	  
	<div class="content">

		<form action="#" th:action="@{/create_hero}"
			th:object="${heroFormData}" method="POST">
			<br />
			<p th:errors="*{heroName}"></p>
			Hero Name: <input type="text" th:field="*{heroName}" /> 
			<br /> 
			<br />
			<label for="species">Faj:</label>
			<select th:field="*{species}">
	  			<option value="" selected> Válassz fajt! </option>
	  			<option th:each="species : ${T(com.mycompany.heromarsspring.model.SpeciesEnum).values()}" 
	  				th:value="${species}" 
	  				th:selected="${species == T(com.mycompany.heromarsspring.model.SpeciesEnum)}"
	  				th:text="${species.description}"></option>
			</select>
			<br /> 
			<br />
			<label for="sex">Nem:</label>
			<select th:field="*{sex}">
	  			<option value="" selected> Válassz nemet! </option>
	  			<option th:each="sex : ${T(com.mycompany.heromarsspring.model.SexEnum).values()}" 
	  				th:value="${sex}" 
	  				th:selected="${sex == T(com.mycompany.heromarsspring.model.SexEnum)}"
	  				th:text="${sex.description}"></option>
			</select>
			<br /> 
			<br />
			<label for="hairColor">Hajszín:</label> 
			<select th:field="*{hairColor}">
				<option value="" selected> Válassz hajszínt! </option>
	 			<option th:each="hairColor : ${T(com.mycompany.heromarsspring.model.HairColorEnum).values()}" 
	  				th:value="${hairColor}" 
	  				th:selected="${hairColor == T(com.mycompany.heromarsspring.model.HairColorEnum)}"
	  				th:text="${hairColor.description}"></option>
			</select>
			<br /> 
			<br />
			<input type="submit" value="Hős létrehozása" />
		</form>
		
	</div>

</body>
</html>