<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	
	<title>&ltHero!Mars!/&gt</title>

	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
	
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	
</head>

<body>

      <ul class="nav nav-tabs justify-content-center">
		<li class="nav-item">
        	<a class="nav-link" th:href="@{/index}">Főoldal</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" th:href="@{/register}">Regisztráció</a>
      	</li>
      	<li class="nav-item">
			<a class="nav-link active" th:href="@{/login}">Bejelentkezés</a>
      	</li>
      	<li class="nav-item">
			<a class="nav-link" th:href="@{/profile}" th:unless="${sessionData.currentUserName == null}">Profil</a>
		</li>
      	<li class="nav-item">
        	<a class="nav-link" th:href="@{/hero}" th:unless="${sessionData.currentUserName == null || sessionData.currentHeroName == null}">Hős</a>
      	</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/logout}" th:unless="${sessionData.currentUserName == null}">Kijelentkezés</a>
		</li>
    </ul>

	<h1 align="center">&ltHero!Mars!/&gt</h1>

	<form action="#" th:action="@{/login}" th:object="${loginFormData}" method="POST">
		<p th:errors="*{userName}"></p>Username:
		<input type="text" th:field="*{userName}" />
		<br/>
		<br/>
		<p th:errors="*{password}"></p>Password:
		<input type="password" th:field="*{password}" />
		<input type="submit" value="Belépés" />
	</form>
</body>

</html>