<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HeroMars - Főoldal</title>

<link rel="stylesheet" type="text/css" href="../css/index.css" />
<link rel="stylesheet" type="text/css" href="../css/main_page.css" />

</head>

<body>

	<div class="menuLine">
		<div class="mainMenu">

			<div class = "top-bar-data">
				<img src="../img/logo.jpg" height="34"/>
			</div>

	        <a th:href="@{/main}">
	        	<div class = "top-bar-data">Főoldal</div>
	        </a>

			<a th:href="@{/profile}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-data">Profil</div>
			</a>
			
	        <a th:href="@{/hero}" th:unless="${sessionData == null || sessionData.currentUserName == null || sessionData.currentHeroName == null}">
	        	<div class = "top-bar-data">Hős</div>
	        </a>
	        	        
	        <a th:href="@{/login}" th:unless="${sessionData == null || sessionData.currentUserName != null}" >
				<div class = "top-bar-log top-bar-data">Bejelentkezés</div>
			</a>
			
			<a th:href="@{/logout}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-log top-bar-data">Kijelentkezés</div>
			</a>
			
			<div class = "top-bar-data top-bar-log"></div>
			
	    </div>
 	</div>
 	  
	<div class="content">
		
		<div class="letter_container">
			<div class="welcome_text">
				
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<h3 class="title">Üdvözlünk, leendő marslakó!</h3>
				<br/>
				<p>Nem számít, hogy szánt szándékkal jöttél erre, vagy véletlenül tévedtél ide, egy dologban biztos lehetsz: 
				ezen túl már soha nem lesz semmi sem olyan, mint eddig volt...</p>
				
				<p>Egy olyan ösvényre tévedtél, amelyen tovább lépve örökre megváltozik az életed. Biztos lehetsz abban is,
				hogy az úton tovább menve hihetetlen élményekben lesz részed. Nem túlzunk, ha azt mondjuk, életed legmeghatározóbb 
				történései veszik kezdetüket hamarosan.</p>
				
				<p>Az úton tovább menve a Marson találod majd magad, ahol különböző fajok bőrébe bújva próbálhatsz majd szerencsét. 
				Mindegy, hogy a Mantid, a Szaurián, a Zéta, a Raptoid, vagy éppen a Plejádi faj képviselője vagy, itt garantáltan 
				megtalálod majd a helyed.</p>
				
				<p>Ittléted során különböző képességekre tehetsz majd szert. Lehet, hogy világklasszis kútfúróvá válsz, az is lehet, 
				hogy ki tudod majd olvasni a jövőt a csillagokból. Nincs kizárva az sem, hogy megtéveszthetetlen kincsvadásszá válsz
				majd.</p>
				
				<p>A továbbiakban arra is lehetőséged nyílik, hogy a meglévő eszközeidet eladd a piactéren, vagy vásárolj egy másikat 
				néhány buznyákért. Ha olyan eszközre lesz szükséged, amihez még csak hasonlót sem láttál, kovácsoltathatsz magadnak a 
				kovácsműhelyben. </p>
				
				<p>Úgy gondoljuk, nyugodt szívvel kijelenthetjük, hogy a java csak most kezdődik, szóval kalandra fel, kedves látogató, 
				sok szerencsét kíván neked: </p>
				<br/>
				
				<p class="creators">
				Együd Balázs – A Bolygók Egyesült Föderációjának elnöke<br/>
				Malmos Péter – A Csillagflotta Hírszerzésének vezetője<br/>
				Mezei Lehel – A Csillagflotta Biztonsági Részlegének vezetője<br/>
				</p>
				<br/><br/>
				<br/><br/>
				<br/><br/>
				<br/><br/>
			</div>
		</div>

	</div>

</body>
</html>