<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<title>User Profile</title>

<link rel="stylesheet" type="text/css" href="../css/index.css" />

</head>
<body>

	<div class="menuLine">
		<div class="mainMenu">

			<div class = "top-bar-data"></div>

	        <a th:href="@{/main}">
	        	<div class = "top-bar-data">Főoldal</div>
	        </a>

			<a th:href="@{/profile}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-data">Profil</div>
			</a>
			
	        <a th:href="@{/hero}" th:unless="${sessionData == null || sessionData.currentUserName == null || sessionData.currentHeroName == null}">
	        	<div class = "top-bar-data">Hős</div>
	        </a>
	        	        
	        <a th:href="@{/login}" th:unless="${sessionData == null || sessionData.currentUserName != null}" >
				<div class = "top-bar-log top-bar-data">Bejelentkezés</div>
			</a>
			
			<a th:href="@{/logout}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-log top-bar-data">Kijelentkezés</div>
			</a>
			
			<div class = "top-bar-data top-bar-log"></div>
			
	    </div>
 	</div>
 	  
	<div class="content">		    

		<h1 align="center"
			th:text="'Welcome in the world of HeroMars ' + ${sessionData.currentUserName} + '!'"></h1>
	
		<br />
	
		<div th:object="${profileData}">
	
			<p>Amennyiben módosítani kívánja a jelszavát, azt itt teheti meg:</p>
	
			<form action="#" th:action="@{/modifyPassword}" method="POST">
				<p th:errors="*{newPassword}"></p>
				Új jelszó: <input type="password" th:field="*{newPassword}" /> <br />
				<br />
				<p th:errors="*{confirmNewPassword}"></p>
				Új jelszó megerősítése: <input type="password"
					th:field="*{confirmNewPassword}" /> <input type="submit"
					value="Új jelszó mentése" />
			</form>
	
			<br />
			<p>Amennyiben módosítani kívánja az e-Mail címét, azt itt teheti
				meg:</p>
	
			<form action="#" th:action="@{/modifyEmail}" method="POST">
				<p th:errors="*{eMail}"></p>
				Új e-Mail cím: <input type="email" th:field="*{eMail}" /> <input
					type="submit" value="Új e-Mail cím mentése" />
			</form>
	
		</div>
	
		<br />
	
		<div th:unless="${profileData.heroNames == null}">
	
			<form action="#" th:action="@{/setHero}" th:object="${profileData}"
				method="POST">
	
				<select th:field="*{selectedHeroName}">
	
					<option value="" selected>--- Válassz Hőst! ---</option>
					<option th:each="String: *{heroNames}" th:value="${String}"
						th:text="${String}"></option>
	
				</select> <input type="submit" value="Hős kiválasztása" />
	
			</form>
	
		</div>
	
		<br />
	
		<div th:switch="${sessionData.currentHeroName}">
			<p th:case="null">No selected hero</p>
			<p th:case="*" th:text="'Selected hero: ' + ${sessionData.currentHeroName}"></p>
		</div>
	
		<br />
	
		<div>
	
			<form action="#" th:action="@{/create_hero}" method="GET">
	
				<input type="submit" value="Hős létrehozása" />
	
			</form>
	
		</div>
	
	</div>

</body>
</html>