<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Felhasználói profil</title>
	
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/login.css" />
</head>
<body>

	<div class="menuLine">
		<div class="mainMenu">

			<div class = "top-bar-data"></div>

	        <a th:href="@{/main}">
	        	<div class = "top-bar-data">Főoldal</div>
	        </a>

			<a th:href="@{/profile}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-data">Profil</div>
			</a>
			
	        <a th:href="@{/hero}" th:unless="${sessionData == null || sessionData.currentUserName == null || sessionData.currentHeroName == null}">
	        	<div class = "top-bar-data">Hős</div>
	        </a>
	        	        
	        <a th:href="@{/login}" th:unless="${sessionData == null || sessionData.currentUserName != null}" >
				<div class = "top-bar-log top-bar-data">Bejelentkezés</div>
			</a>
			
			<a th:href="@{/logout}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-log top-bar-data">Kijelentkezés</div>
			</a>
			
			<div class = "top-bar-data top-bar-log"></div>
			
	    </div>
 	</div>
 	  
	<div class="content">		    
	
		<div class="login-box" th:object="${profileData}">
			
			<form id="login-form" action="#" th:action="@{/setHero}"
				method="POST" th:unless="${profileData.heroNames == null}">
			
				<p class="separator">
					HŐS VÁLASZTÓ
				</p>
				
				<br/>
				
				<p>
					<select class="input-field" th:field="*{selectedHeroName}">
						<option value="" selected>- - - - - - - - Válassz Hőst! - - - - - - - -</option>
						<option th:each="String: *{heroNames}" th:value="${String}"
							th:text="${String}"></option>
					</select>
				</p>
				
				<p>
					<input type="submit" class="enter-button" value="KIVÁLASZT" />
				</p>
				
				<p th:switch="${sessionData.currentHeroName}">
					<label class="input-label" th:case="null">Nincs még hős kiválasztva</label>
					<label class="input-label" th:case="*" th:text="'Választott hős: ' + ${sessionData.currentHeroName}"></label>
				</p>
				 
				<br/>
				
			</form>
			
			<form id="login-form" action="#" th:action="@{/create_hero}" method="GET">
				
				<p class="separator">
					HŐS LÉTREHOZÓ
				</p>
				
				<p>
					<input type="submit" class="enter-button" value="LÉTREHOZ" />
				</p>
				 
				<br/>
				
			</form>
			
			<form id="login-form" action="#" th:action="@{/modifyPassword}" method="POST">
			
				<p class="separator">MÓDOSÍTÁS I.</p>
				
				<p>
					<label for="newPassword" class="input-label">ÚJ JELSZÓ:</label>
				</p>
				<p>
					<input type="password" id="newPassword" class="input-field" th:field="*{newPassword}" />
				</p>
				<p class="error-message" th:errors="*{newPassword}"></p>
				
				<p>
					<label for="confirmNewPassword" class="input-label">JELSZÓ MEGERŐSÍTÉSE:</label>
				</p>
				<p>
					<input type="password" id="confirmNewPassword" class="input-field" th:field="*{confirmNewPassword}" />
				</p>
				<p class="error-message" th:errors="*{confirmNewPassword}"></p>
				
				<p>
					<input type="submit" class="enter-button" value="Új jelszó mentése" />
				</p>
				 
				<br/>
			
			</form>
			
			<form id="login-form" action="#" th:action="@{/modifyEmail}" method="POST">
			
				<p class="separator">MÓDOSÍTÁS II.</p>
				
				<p>
					<label for="newEMail" class="input-label">ÚJ E-MAIL:</label>
				</p>
				
				<p>
					<input type="email" id="newEMail" class="input-field" th:field="*{eMail}" />
				</p>
				
				<p class="error-message" th:errors="*{eMail}"></p>
				
				<p>
					<input type="submit" class="enter-button" value="Új e-Mail cím mentése" />
				</p>
				 
				<br/>
			
			</form>
	
		</div>
	
	</div>

</body>
</html>