<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Kovácsműhely</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/smith.css" />
</head>
<body>

	<div class="menuLine">
		<div class="mainMenu">

			<div class = "top-bar-data">
				<img src="../img/logo.jpg" height="34"/>
			</div>

	        <a th:href="@{/main}">
	        	<div class = "top-bar-data">Főoldal</div>
	        </a>

			<a th:href="@{/profile}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-data">Profil</div>
			</a>
			
	        <a th:href="@{/hero}" th:unless="${sessionData == null || sessionData.currentUserName == null || sessionData.currentHeroName == null}">
	        	<div class = "top-bar-data">Hős</div>
	        </a>
	        	        
	        <a th:href="@{/login}" th:unless="${sessionData == null || sessionData.currentUserName != null}" >
				<div class = "top-bar-log top-bar-data">Bejelentkezés</div>
			</a>
			
			<a th:href="@{/logout}" th:unless="${sessionData == null || sessionData.currentUserName == null}">
				<div class = "top-bar-log top-bar-data">Kijelentkezés</div>
			</a>
			
			<div class = "top-bar-data top-bar-log"></div>
			
			<div class="secondaryMenu">
				<a th:href="@{/hero}" >Hős statisztika</a>
				<a th:href="@{/hero_actions}" >Hős akciók</a>
				<a th:href="@{/market}">Piactér</a>
				<a th:href="@{/smith}">Kovácsműhely</a>
			</div>
			
	    </div>
 	</div>
 	  
	<div class="content">
		    
		<br/>
    
	    <h1 align="center" th:text="'Isten hozott a Kovácsműhelyben, ' + ${sessionData.currentHeroName} + '!'"></h1>
	
		<br/>
		<br/>
		
		<h3 align="center" th:text="'A rendelkezésre álló egyenleged: ' + ${smithData.heroMoney}"> </h3>
		<h3 align="center" th:text="'A hősöd jelenlegi szintje: ' + ${smithData.heroLevel}"> </h3>
		
		<br/>
		<br/>
		
		<form action="#" th:action="@{/smith}" th:object="${smithData}" method="POST">
		
			<table>
				<tr>
			    	<th colspan="9" align="center">Kovácsolható eszközök</th>
			  	</tr>
			  	<tr>
			    	<th>Név</th>
			    	<th>Szint</th>
			    	<th>Típus</th>
			    	<th>Erő</th>
			    	<th>Élet</th>
			    	<th>Bölcsesség</th>
			    	<th>Tartósság</th>
			    	<th>Ár</th>
			  	</tr>
			  	<tbody class="itemList">
			  	<tr th:each="item : ${T(com.mycompany.heromarsspring.model.ItemEnum).values()}">
					<td th:text="${item.description}" />
					<td th:text="*{heroLevel}" />
					<td th:text="${item.type}" />
					<td th:text="${item.strengthMod} * *{heroLevel}" />
					<td th:text="${item.healthMod} * *{heroLevel}" />
					<td th:text="${item.wisdomMod} * *{heroLevel}" />
					<td th:text="${item.durability}" />
					<td th:text="*{heroLevel*100}" />
					<td>
						<input type="radio" th:field="*{craftedItem}" th:value="${item}"/>
					</td>
				</tr>
				</tbody>
			</table>
			
			<br/>
			
			<input type="submit" class="createButton" />
		
		</form>
		
		<br/>
		<br/>
	
		<h4 align="center" th:text="${craftMessage}"> </h4>
	
	</div>
	
</body>
</html>